body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.header {
  height: 30px;
  display: flex;
  background-color: rgb(1, 73, 73);
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #686767;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 14px;
}

.navbar span {
  font-size: 16px;
  letter-spacing: 0.2rem;
}

.navbar input {
  border: none;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  height: 25px;
}

.wrapper {
  text-align: center;
}

.imge-wrapper {
  display: flex;
  flex-direction: column;
}

.image {
  padding: 10px;
  display: inline;
  background-color: #282828;
}

img {
  width: 95%;
  height: 70vh;
  object-fit: cover;
  border: 3px solid white;
}

.mode {
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

span {
  display: inline-block;
  padding-right: 10px;
  min-width: 100px;
  font-weight: 100;
}

input {
  width: 10px;
  cursor: pointer;
  margin-right: 50px;
  min-width: 150px;
}

.blur {
  padding-top: 10px;
}